* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 220px;
    background: hsla(0, 68%, 45%, 0.5);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(19, 62%, 58%, 0.7), hsla(14, 85%, 51%, 0.7)), url(../images/Logo.JPG);
    /* Chrome 10-25, Safari 5.1-6 */
    ;
    background: linear-gradient(to right, hsla(19, 100%, 57%, 0.5), hsla(14, 91%, 49%, 0.7)), url(../images/Logo.JPG);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    background-size: 100%, 300px;
    background-attachment: fixed;
    position: fixed;
}

nav {
    background: hsla(0, 3%, 80%, 0.8);
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px 20px 15PX 0;
    position: fixed;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

nav>a {
    color: hsla(14, 91%, 49%, 0.3);
    font-weight: 300;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    align-content: center;
}

nav>a:hover {
    text-decoration: underline;
    color: grey;
}

nav>input {
    background-color: rgb(169, 169, 169, 0.3);
    font-size: 15px;
}

.titulos {
    display: flex;
    height: 220px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.titulos h1 {
    font-size: 50px;
    color: rgb(36, 31, 31);
    font-family: monospace;
}

.titulos h2 {
    font-size: 20px;
    color: black;
    font-family: monospace;
}

.wave {
    width: 100%;
    height: 300px;
    bottom: 0%;
    position: absolute;
}

.texto_inicio {
    width: 100%;
    text-align: center;
}

section>h1 {
    font-size: 30px;
    color: hsla(14, 91%, 49%, 0.6);
    font-family: 'Times New Roman', Times, serif;
}

section>h3 {
    font-size: 22px;
    color: hsla(14, 91%, 49%, 0.5);
    font-family: 'Times New Roman', Times, serif;
}

section>h4 {
    font-size: 19px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

section>p {
    font-size: 21px;
}

span {
    font-size: 23px;
    color: hsla(14, 91%, 49%, 0.4);
    margin: 0 42% 0 42%;
}

.cursos {
    float: left;
    width: 40%;
    margin: 2% 5% 2% 5%;
}

    .cursos img {
        float: left;
        width: 40%;

    }

    .cursos p {
        float: right;
        width: 50%;
        text-align: justify;
    }

    .cursos >h3 {
        float: right;
        width: 50%;

    }

    .cursos p>a{
        color: rgba(252, 129, 95, 0.9); 
        font-weight: 300;
        text-decoration: none; 
        margin-right: 20px;
        font-size: 19px;
        font-family: 'Times New Roman', Times, serif;
    }

    .cursos p>a:hover{
        text-decoration: underline;
        color: darkgray;  
    }


  .pie {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  div >footer >ul {
    padding:0;
    list-style-type:none;
    text-align:center;
    font-size:18px;
    line-height:1;
  }
  
  div >footer >ul >li {
    padding:0 10px;
    display:  inline;
  }
  
  div >footer >ul >li >a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  div >footer >ul >li >a:hover {
    opacity:1;
  }
  
  div >footer > div {
    text-align:center;
    padding-bottom:25px;
  }
  
  div >footer >div > a {
    font-size:24px;
    width:40px;
    height:35px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:2px dotted #ccc;
    margin:0 8px;
    opacity:0.75;
  }
  
  div> footer> p {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:25px;
  }